In [1]:
def introduction(name, city):
    print("Hello, my name is", name)
    print("I live and work in", city)

In [ ]:
# Will throw an error
introduction()

In [ ]:
# Will throw an error
introduction("Rose")

In [4]:
introduction("Rose", "San Jose")

Hello, my name is Rose
I live and work in San Jose

In [5]:
def sum_of(num_1, num_2, num_3):
    return (num_1 + num_2 + num_3)

In [ ]:
# Will throw an error
sum_of(25, 34)

In [7]:
def total_score(math, physics, chemistry, biology):
    
    print("Math:", math, "Physics:", physics, "Chemistry:", chemistry, "Biology:", biology)
    return math + physics + chemistry + biology

In [8]:
total_score(100, 56, 34, 99)

Math: 100 Physics: 56 Chemistry: 34 Biology: 99

289

In [9]:
total_score(math=100, physics=56, chemistry=34, biology=99)

Math: 100 Physics: 56 Chemistry: 34 Biology: 99

289

In [ ]:
# Will throw an error
total_score(math=100, physics=56, chem=34, biology=99)

In [ ]:
# Will throw an error
total_score(ma=100, phy=56, chemistry=34, biology=99)

In [12]:
total_score(100, physics=56, chemistry=34, biology=99)

Math: 100 Physics: 56 Chemistry: 34 Biology: 99

289

In [13]:
total_score(100, 56, chemistry=34, biology=99)

Math: 100 Physics: 56 Chemistry: 34 Biology: 99

289

In [14]:
total_score(100, 56, 34, biology=99)

Math: 100 Physics: 56 Chemistry: 34 Biology: 99

289

In [ ]:
# Will throw an error
total_score(math=100, 56, chemistry=34, biology=99)

In [ ]:
# Will throw an error
total_score(math=100, physics=56, 34, biology=99)

In [ ]:
# Will throw an error
total_score(math=100, physics=56, chemistry=34, 99)

In [18]:
total_score(biology=99, math=100, chemistry=34, physics=56)

Math: 100 Physics: 56 Chemistry: 34 Biology: 99

289

In [19]:
total_score(chemistry=34, biology=99, math=100, physics=56)

Math: 100 Physics: 56 Chemistry: 34 Biology: 99

289

In [ ]:
# Will throw an error
total_score(34, biology=99, math=100, physics=56)

In [ ]:
# Will throw an error
total_score(physics=34, biology=99, math=100, physics=56)

In [22]:
def print_student_details(name, school, math, physics, chemistry, biology):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school)
    print("Score: ", total)

In [23]:
print_student_details("Alice", "Columbia",
                     math=100, physics=76, chemistry=64, biology=99)

Name:  Alice
School:  Columbia
Score:  339

In [24]:
print_student_details("Columbia", "Alice",
                     math=100, physics=76, chemistry=64, biology=99)

Name:  Columbia
School:  Alice
Score:  339

In [25]:
print_student_details(name="Alice", school="Columbia",
                     math=100, physics=76, chemistry=64, biology=99)

Name:  Alice
School:  Columbia
Score:  339

In [26]:
num_list = [3, 6, 1, 9, 5, 7]

sorted(num_list)

[1, 3, 5, 6, 7, 9]

In [27]:
sorted(num_list, reverse=False)

[1, 3, 5, 6, 7, 9]

In [28]:
sorted(num_list, reverse=True)

[9, 7, 6, 5, 3, 1]

In [29]:
print("Alice", "Peter", "Greg")

Alice Peter Greg

In [30]:
print("Alice", "Peter", "Greg", sep="|")

Alice|Peter|Greg

In [31]:
print("Alice", "Peter", "Greg", sep="|", end="*****")

Alice|Peter|Greg*****