In [1]:
def print_student_details(name, school,
                          math, physics, chemistry, biology, 
                          enrolled):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Score: ", total)

In [2]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64, biology=99, 
                      enrolled=True)

Name:  Alice
School:  Columbia Enrolled:  True
Score:  339

In [3]:
# Will throw an error
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64, biology=99)

TypeError: print_student_details() missing 1 required positional argument: 'enrolled'

In [4]:
def print_student_details(name, school,
                          math, physics, chemistry, biology, 
                          enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Score: ", total)

In [5]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64, biology=99, 
                      enrolled=True)

Name:  Alice
School:  Columbia Enrolled:  True
Score:  339

In [6]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64, biology=99, 
                      enrolled=False)

Name:  Alice
School:  Columbia Enrolled:  False
Score:  339

In [7]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64, biology=99)

Name:  Alice
School:  Columbia Enrolled:  False
Score:  339

In [8]:
def print_student_details(name, school,
                          math, physics, chemistry, biology=50, 
                          enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Biology: ", biology)
    print("Score: ", total)

In [9]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64, biology=99)

Name:  Alice
School:  Columbia Enrolled:  False
Biology:  99
Score:  339

In [10]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64)

Name:  Alice
School:  Columbia Enrolled:  False
Biology:  50
Score:  290

In [11]:
def print_student_details(name, school,
                          math, physics, chemistry=50, biology=50, 
                          enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Chemistry: ", chemistry)
    print("Biology: ", biology)
    print("Score: ", total)

In [12]:
print_student_details("Alice", "Columbia", 
                      math=100, physics=76, chemistry=64)

Name:  Alice
School:  Columbia Enrolled:  False
Chemistry:  64
Biology:  50
Score:  290

In [13]:
print_student_details("Alice", "Columbia", math=100, physics=76)

Name:  Alice
School:  Columbia Enrolled:  False
Chemistry:  50
Biology:  50
Score:  276

In [14]:
# Will throw an error
def print_student_details(name, school,
                          math=50, physics, chemistry=50, biology=50, 
                          enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Chemistry: ", chemistry)
    print("Biology: ", biology)
    print("Score: ", total)

SyntaxError: non-default argument follows default argument (3041760753.py, line 3)

In [15]:
# Will throw an error
def print_student_details(name, school="Harvard",
                          math, physics, chemistry=50, biology=50, 
                          enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Chemistry: ", chemistry)
    print("Biology: ", biology)
    print("Score: ", total)

SyntaxError: non-default argument follows default argument (4055061167.py, line 3)

In [16]:
# Will throw an error
def print_student_details(name="Mark", school,
                          math, physics, chemistry=50, biology=50, 
                          enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Chemistry: ", chemistry)
    print("Biology: ", biology)
    print("Score: ", total)

SyntaxError: non-default argument follows default argument (371926713.py, line 2)

In [17]:
def print_student_details(name="Mark", school="Harvard",
                          math=50, physics=50, chemistry=50, biology=50, 
                          enrolled=False):
    
    total = math + physics + chemistry + biology
    
    print("Name: ", name)
    print("School: ", school, "Enrolled: ", enrolled)
    print("Math: ", math)
    print("Physics: ", physics)
    print("Chemistry: ", chemistry)
    print("Biology: ", biology)
    print("Score: ", total)

In [18]:
print_student_details()

Name:  Mark
School:  Harvard Enrolled:  False
Math:  50
Physics:  50
Chemistry:  50
Biology:  50
Score:  200

In [19]:
print_student_details("Alice")

Name:  Alice
School:  Harvard Enrolled:  False
Math:  50
Physics:  50
Chemistry:  50
Biology:  50
Score:  200

In [20]:
print_student_details("Alice", "Columbia")

Name:  Alice
School:  Columbia Enrolled:  False
Math:  50
Physics:  50
Chemistry:  50
Biology:  50
Score:  200

In [21]:
print_student_details("Alice", "Columbia", 99, biology=66, enrolled=True)

Name:  Alice
School:  Columbia Enrolled:  True
Math:  99
Physics:  50
Chemistry:  50
Biology:  66
Score:  265