In [1]:
def subtract(num_1, num_2):
    
    result = num_1 - num_2

In [2]:
subtract(10, 7.7)

In [3]:
r = subtract(100, 50)

In [4]:
print(r)

None

In [5]:
type(r)

NoneType

In [6]:
def subtract_returns_none_by_default(num_1, num_2):
    
    result = num_1 - num_2
    
    return None

In [7]:
r = subtract_returns_none_by_default(100, 50)

print(r)

None

In [8]:
def subtract_returns_a_result(num_1, num_2):
    
    result = num_1 - num_2
    
    return result

In [9]:
r = subtract_returns_a_result(100, 50)

print(r)

50

In [10]:
def length(some_list):
    
    count = 0
    for element in some_list:
        count += 1
        
    print("The length of the list is", count)
    
    return count

In [11]:
l = length([100, 200, 300])

The length of the list is 3

In [12]:
l

3

In [13]:
print(l)

3

In [14]:
def find_max_in_list(some_list):
    
    max_element = some_list[0]
    
    length = len(some_list)
    
    for i in range(1, length):
        
        if some_list[i] > max_element:
            max_element = some_list[i]
            
    return max_element

In [15]:
num_list = [5, 4, 6, 7, 2, 10, 11, 3]

In [16]:
max_element = find_max_in_list(num_list)

print(max_element)

11

In [17]:
num_list.append(24)

max_element = find_max_in_list(num_list)

print(max_element)

24

In [18]:
def empty_return(x, y):
    total = x + y
    
    return

In [19]:
result = empty_return(10, 20)

print(result)

None

In [20]:
type(result)

NoneType

In [21]:
def add_sub(x, y):
    
    add_result = x + y
    sub_result = x - y
    
    # Multiple return values from a function returns a tuple with the values as fields of the tuple
    return add_result, sub_result

In [22]:
add_sub(5, 4)

(9, 1)

In [23]:
result = add_sub(5, 4)

result

(9, 1)

In [24]:
result_1, result_2 = add_sub(5, 4)

In [25]:
result_1

9

In [26]:
result_2

1

In [27]:
result_1, _ = add_sub(5, 4)

result_1

9

In [28]:
_, result_2 = add_sub(5, 4)

result_2

1

In [29]:
def positive_or_negative(num):
    
    if num > 0:
        return "Positive!"
    
    else:
        return "Zero or negative"

In [30]:
positive_or_negative(10)

'Positive!'

In [31]:
positive_or_negative(-10)

'Zero or negative'

In [32]:
def positive_negative_zero(num):
    
    if num > 0:
        return "Positive!"
    
    elif num < 0:
        return "Negative!"
    
    else:
        return "Zero!"

In [33]:
positive_negative_zero(90)

'Positive!'

In [34]:
positive_negative_zero(-90)

'Negative!'

In [35]:
positive_negative_zero(0)

'Zero!'

In [36]:
def positive_negative_zero_forgotreturn(num):
    
    if num > 0:
        return "Positive!"
    
    elif num < 0:
        return "Negative!"

In [37]:
positive_negative_zero_forgotreturn(90)

'Positive!'

In [38]:
positive_negative_zero_forgotreturn(-90)

'Negative!'

In [39]:
positive_negative_zero_forgotreturn(0)

In [40]:
def find_max_in_list(some_list):
    
    if len(some_list) == 0:
        print("Zero element list!")
        
        return None
    
    max_element = some_list[0]
    
    length = len(some_list)
    
    for i in range(1, length):
        
        if some_list[i] > max_element:
            max_element = some_list[i]
            
    return max_element

In [41]:
empty_list = []

find_max_in_list(empty_list)

Zero element list!

In [42]:
def find_first_capital_letter(some_string):
    
    capital_letter = None
    
    for ch in some_string:
        if ch.upper() == ch and ch != " ":
            capital_letter = ch
            break
            
    if capital_letter is None:
        return "No capital letters found"
    else:
        return "First capital letter " + capital_letter

In [43]:
find_first_capital_letter("how Are you")

'First capital letter A'

In [44]:
find_first_capital_letter("how are you")

'No capital letters found'

In [45]:
def create_dictionary_representation(name, age, occupation):
    
    dictionary = {
        "name" : name,
        "age" : age,
        "occupation" : occupation
    }
    
    return dictionary

In [46]:
info_dictionary = create_dictionary_representation("John", 35, "Engineer")

info_dictionary

{'name': 'John', 'age': 35, 'occupation': 'Engineer'}

In [47]:
def generate_list(name, num_elements):
    
    return_list = []
    
    for i in range(num_elements):
        return_list.append(name)
        
    return return_list

In [48]:
some_list = generate_list("Iris", 5)

some_list

['Iris', 'Iris', 'Iris', 'Iris', 'Iris']

In [49]:
some_list = generate_list("Louise", 3)

In [50]:
some_list

['Louise', 'Louise', 'Louise']

In [51]:
def generate_list(name, num_elements):
    
    print("Generate list using list comprehension")
    return_list = [name for i in range(num_elements)]
        
    return return_list

In [52]:
some_list = generate_list("Daisy", 4)

some_list

Generate list using list comprehension

['Daisy', 'Daisy', 'Daisy', 'Daisy']

In [53]:
def generate_list(name, num_elements):

    return [name for i in range(num_elements)]

In [54]:
some_list = generate_list("Sunflower", 4)

some_list

['Sunflower', 'Sunflower', 'Sunflower', 'Sunflower']

In [55]:
def add(a, b):
    return a + b

def sub(a, b):
    return a - b

def mul(a, b):
    return a * b

def div(a, b):
    return a / b

In [56]:
def calculate(a, b, operator):
    
    if operator == "add":
        return add(a, b)
    
    if operator == "sub":
        return sub(a, b)
    
    if operator == "mul":
        return mul(a, b)
    
    if operator == "div":
        return div(a, b)

In [57]:
calculate(10, 5, "add")

15

In [58]:
calculate(10, 5, "mul")

50

In [59]:
calculate(10, 5, "div")

2.0

In [60]:
calculate(10, 5, "meaningless")