In [1]:
dogs = ("Pug", "Doberman", "Golden Retriever")

for dog in dogs:
    print("It's a", dog)

It's a Pug
It's a Doberman
It's a Golden Retriever

In [2]:
dog_weight = (("Pug", 20),
              ("Doberman", 80),
              ("Golden Retriever", 55))

for i, (dog, weight) in enumerate(dog_weight):
    print("The dog at index %d is a %s and it weighs %s pounds" % (i, dog, weight))

The dog at index 0 is a Pug and it weighs 20 pounds
The dog at index 1 is a Doberman and it weighs 80 pounds
The dog at index 2 is a Golden Retriever and it weighs 55 pounds

In [3]:
friends = ["John", "Sam", "Jill"]

for friend in friends:
    print("Happy New Year,", friend)

Happy New Year, John
Happy New Year, Sam
Happy New Year, Jill

In [4]:
student_scores = {'John' : 80,
                  'Sam' : 60,
                  'Jill' : 50,
                  'Bob' : 96}

student_scores

{'John': 80, 'Sam': 60, 'Jill': 50, 'Bob': 96}

In [5]:
for student in student_scores:
    print(student)

John
Sam
Jill
Bob

In [6]:
student_scores.keys()

dict_keys(['John', 'Sam', 'Jill', 'Bob'])

In [7]:
for student in student_scores.keys():
    print(student)

John
Sam
Jill
Bob

In [8]:
for score in student_scores.values():
    print(score)

80
60
50
96

In [9]:
for key in student_scores:
    print("Key value pair -", key, ":", student_scores[key])

Key value pair - John : 80
Key value pair - Sam : 60
Key value pair - Jill : 50
Key value pair - Bob : 96

In [10]:
for key_value in student_scores.items():
    print(key_value)

('John', 80)
('Sam', 60)
('Jill', 50)
('Bob', 96)

In [11]:
for student, score in student_scores.items():
    print("Student:", student, "\tScore:",score)

Student: John 	Score: 80
Student: Sam 	Score: 60
Student: Jill 	Score: 50
Student: Bob 	Score: 96

In [12]:
numbers = [4, 6, 9, 10]

for num in numbers:
    quotient = num // 2
    
    print(quotient, "is the quotient of", num, "/ 2")

2 is the quotient of 4 / 2
3 is the quotient of 6 / 2
4 is the quotient of 9 / 2
5 is the quotient of 10 / 2

In [13]:
mixed_list = [145, 10.5, 1 + 3j,
              True, "Pyhton",
              (0, 1), [2, -5],
              {"Class" : "V", "Section" : "A"}]

for item in mixed_list:
    print("Type of ", item, " is", type(item))

Type of  145  is <class 'int'>
Type of  10.5  is <class 'float'>
Type of  (1+3j)  is <class 'complex'>
Type of  True  is <class 'bool'>
Type of  Pyhton  is <class 'str'>
Type of  (0, 1)  is <class 'tuple'>
Type of  [2, -5]  is <class 'list'>
Type of  {'Class': 'V', 'Section': 'A'}  is <class 'dict'>

In [14]:
num_list = [2, 4, 6, 8]

square = 0

for val in num_list:
    square = val ** 2
    
    print("Square of", val, "is", square)

Square of 2 is 4
Square of 4 is 16
Square of 6 is 36
Square of 8 is 64

In [15]:
string = input("Enter a string: ")

count = 0

for i in string:
    count = count + 1

print(count)

Enter a string: python
6