In [ ]:
old_num = "500"

new_num = "10"

remaining_num = old_num - new_num # Will throw an error

In [2]:
type(old_num)

str

In [3]:
int(old_num)

500

In [4]:
type(old_num)

str

In [5]:
old_num = "500"

new_num = "10"

remaining_num = int(old_num) - int(new_num)

remaining_num

490

In [6]:
old_code = "40.6"
new_code = "60.8"

total_code = old_code + new_code

total_code

'40.660.8'

In [7]:
old_code = "40.6"
new_code = "60.4"

total_code = float(old_code) + float(new_code)

total_code

101.0

In [8]:
my_float = "4.6"
my_int = "6"

total = float(my_float) + int(my_int)
total

10.6

In [9]:
value_str = "python world"

value_list = list(value_str)
value_list

['p', 'y', 't', 'h', 'o', 'n', ' ', 'w', 'o', 'r', 'l', 'd']

In [10]:
print("Type of value_str is:", type(value_str))

print("Type of value_list is:", type(value_list))

Type of value_str is: <class 'str'>
Type of value_list is: <class 'list'>

In [ ]:
list(1, 2, 3, 4, 5) # Will throw an error

In [12]:
list((1, 2, 3, 4, 5))

[1, 2, 3, 4, 5]

In [13]:
my_tuple = ("Apple", "Orange", "Mango", "Banana")

my_tuple

('Apple', 'Orange', 'Mango', 'Banana')

In [ ]:
type(my_tuple)

tuple

In [15]:
my_list = list(my_tuple)

my_list

['Apple', 'Orange', 'Mango', 'Banana']

In [16]:
type(my_list)

list

In [17]:
value_str = "python world"

value_tup = tuple(value_str)

value_tup

('p', 'y', 't', 'h', 'o', 'n', ' ', 'w', 'o', 'r', 'l', 'd')

In [18]:
print("Type of value_str is:", type(value_str))

print("Type of value_tup is:", type(value_tup))

Type of value_str is: <class 'str'>
Type of value_tup is: <class 'tuple'>

In [ ]:
tuple(5000) # Will throw an error

In [20]:
my_list = ["Apple", "Orange", "Mango", "Banana"]

print(my_list)

['Apple', 'Orange', 'Mango', 'Banana']

In [21]:
type(my_list)

list

In [22]:
my_tuple = tuple(my_list)

print(my_tuple)

('Apple', 'Orange', 'Mango', 'Banana')

In [23]:
type(my_tuple)

tuple

In [24]:
age_list = [["William", 50], ["Henry", 60], ["James", 90]]

age_tuple = tuple(age_list)

age_tuple

(['William', 50], ['Henry', 60], ['James', 90])

In [25]:
age_tuple = tuple(age_list[0])

age_tuple

('William', 50)

In [26]:
print("Type of age_list is:", type(age_list))

print("Type of age_tuple is:", type(age_tuple))

Type of age_list is: <class 'list'>
Type of age_tuple is: <class 'tuple'>

In [27]:
pet_list = [("Dog", 1), ("Cat", 2), ("Cow", 3), ("Goat", 4)]

In [28]:
pet_tuple = tuple(pet_list)

pet_tuple

(('Dog', 1), ('Cat', 2), ('Cow', 3), ('Goat', 4))

In [29]:
age_tuple = ("Leo", 18,
             "Aaron", 25,
             "Easton", 34,
             "Jordan", 30)

age_tuple

('Leo', 18, 'Aaron', 25, 'Easton', 34, 'Jordan', 30)

In [ ]:
dict(age_tuple) # Will throw an error

In [31]:
age_tuple1 = (("Leo", 18),
              ("Aaron", 25),
              ("Easton", 34),
              ("Jordan", 30))

age_tuple1

(('Leo', 18), ('Aaron', 25), ('Easton', 34), ('Jordan', 30))

In [32]:
dict(age_tuple1)

{'Leo': 18, 'Aaron': 25, 'Easton': 34, 'Jordan': 30}

In [33]:
age_tuple2 = (("Leo", 18),
              ("Aaron", 25),
              ("Easton", 34),
              (["Jordan", "John"], 30))

age_tuple2

(('Leo', 18), ('Aaron', 25), ('Easton', 34), (['Jordan', 'John'], 30))

In [ ]:
dict(age_tuple2) # Will throw an error

In [35]:
age_tuple3 = (("Leo", 18),
              ("Aaron", 25),
              ("Easton", 34),
              ("Jordan", ["John", 30]))

age_tuple3

(('Leo', 18), ('Aaron', 25), ('Easton', 34), ('Jordan', ['John', 30]))

In [36]:
dict(age_tuple3)

{'Leo': 18, 'Aaron': 25, 'Easton': 34, 'Jordan': ['John', 30]}

In [37]:
age_list = [["William", 50],
            ["Joanne", 60],
            ["Maria", 90]]

age_dict = dict(age_list)

age_dict

{'William': 50, 'Joanne': 60, 'Maria': 90}

In [38]:
print("Type of age_list is:", type(age_list))

print("Type of age_dict is:", type(age_dict))

Type of age_list is: <class 'list'>
Type of age_dict is: <class 'dict'>

In [39]:
set('apple')

{'a', 'e', 'l', 'p'}

In [40]:
fruit_tuple = ("Apple", "Orange", "Mango", "Banana", "Banana")

fruit_set = set(fruit_tuple)

fruit_set

{'Apple', 'Banana', 'Mango', 'Orange'}

In [41]:
type(fruit_set)

set