In [1]:
print()

In [2]:
print("Bob")

Bob

In [3]:
print("Bob", "Peter")

Bob Peter

In [4]:
print("Greg", "Claudia", "Bob")

Greg Claudia Bob

In [5]:
print("Greg", "Claudia", "Bob", "Peter")

Greg Claudia Bob Peter

In [6]:
def print_fn(string_1):
    
    print(string_1)

In [ ]:
# Will throw an error
print_fn()

In [8]:
def print_fn(string_1="\n"):
    
    print(string_1)

In [9]:
print_fn()

In [10]:
print_fn("Bob")

Bob

In [ ]:
# Will throw an error
print_fn("Bob", "Peter")

In [12]:
def print_fn(string_1="\n", string_2=""):
    
    print(string_1, string_2)

In [13]:
print_fn()

In [14]:
print_fn("Bob")

Bob

In [15]:
print_fn("Bob", "Peter")

Bob Peter

In [ ]:
# Will throw an error
print_fn("Greg", "Claudia", "Bob")

In [17]:
# *args indicates that the function can be invoked with any number of arguments
def print_fn(*args):
    
    args_type = type(args)
    print(args_type)
    
    print(args)

In [18]:
print_fn()

<class 'tuple'>
()

In [19]:
print_fn("Bob")

<class 'tuple'>
('Bob',)

In [20]:
print_fn("Bob", "Peter")

<class 'tuple'>
('Bob', 'Peter')

In [21]:
print_fn("Greg", "Claudia", "Bob")

<class 'tuple'>
('Greg', 'Claudia', 'Bob')

In [22]:
print_fn("Greg", "Claudia", "Bob", "Alice", "Steve", "Jim")

<class 'tuple'>
('Greg', 'Claudia', 'Bob', 'Alice', 'Steve', 'Jim')

In [23]:
names_list = ["Greg", "Claudia", "Bob", "Alice", "Steve", "Jim"]

print_fn(names_list)

<class 'tuple'>
(['Greg', 'Claudia', 'Bob', 'Alice', 'Steve', 'Jim'],)

In [24]:
# *names_list first unpacks the individual elements in the names_list
print_fn(*names_list)

<class 'tuple'>
('Greg', 'Claudia', 'Bob', 'Alice', 'Steve', 'Jim')

In [25]:
def students_in_college(college, city, *students):
    
    print("College: ", college)
    print("City: ", city)
    print("Students: ", students)

In [26]:
students_in_college("Columbia", "New York")

College:  Columbia
City:  New York
Students:  ()

In [27]:
students_in_college("Columbia", "New York", "Bob")

College:  Columbia
City:  New York
Students:  ('Bob',)

In [28]:
students_in_college("Columbia", "New York", "Peter", "Julie")

College:  Columbia
City:  New York
Students:  ('Peter', 'Julie')

In [29]:
students_in_college("Columbia", "New York", "Peter", "Julie", "Trista")

College:  Columbia
City:  New York
Students:  ('Peter', 'Julie', 'Trista')

In [30]:
def students_in_college(*students, college, city):
    
    print("College: ", college)
    print("City: ", city)
    print("Students: ", students)

In [ ]:
# Will throw an error
students_in_college("Columbia", "New York", "Bob")

In [32]:
students_in_college("Bob", college="Columbia", city="New York")

College:  Columbia
City:  New York
Students:  ('Bob',)

In [33]:
students_in_college("Bob", "Peter", college="Columbia", city="New York")

College:  Columbia
City:  New York
Students:  ('Bob', 'Peter')

In [34]:
def students_in_college(*students, college, city="Boston"):
    
    print("College: ", college)
    print("City: ", city)
    print("Students: ", students)

In [35]:
students_in_college("Bob", college="Harvard")

College:  Harvard
City:  Boston
Students:  ('Bob',)

In [36]:
# **kwargs packs the variable length arguments into a dictionary not a tuple
def student_details(**kwargs):
    
    print(type(kwargs))
    print(kwargs)

In [37]:
student_details()

<class 'dict'>
{}

In [38]:
student_details(name="John")

<class 'dict'>
{'name': 'John'}

In [39]:
student_details(name="John", age=18)

<class 'dict'>
{'name': 'John', 'age': 18}

In [40]:
student_details(name="John", age=18, college="Boston University")

<class 'dict'>
{'name': 'John', 'age': 18, 'college': 'Boston University'}

In [41]:
def student_details(**details):
    
    for key, value in details.items():
        print(key, value)

In [42]:
student_details(name="John", age=18, college="Boston University")

name John
age 18
college Boston University

In [43]:
details_dictionary = {"name" : "John", "age" : 18, "college" : "Boston University"}

In [ ]:
# Will throw an error
student_details(details_dictionary)

In [45]:
# **details_dictionary first unpacks the individual elements in the dictionary
student_details(**details_dictionary)

name John
age 18
college Boston University

In [46]:
def student_details(**details):
    
    if "name" in details:
        print("Name: ", details["name"])
        
    if "age" in details:
        print("Age: ", details["age"])
        
    if "college" in details:
        print("College: ", details["college"])

In [47]:
student_details(name="John")

Name:  John

In [48]:
student_details(name="John", college="Boston University")

Name:  John
College:  Boston University

In [49]:
student_details(name="John", college="Boston University", age=21)

Name:  John
Age:  21
College:  Boston University

In [50]:
def students_in_college(*student_names, **college_details):
    print("Students--")
    for a in student_names:
        print(a)
        
    print()
    
    print("College Details--")
    for key, value in college_details.items():
        print(key, value)

In [51]:
students_in_college("Alisson", "Bob", "Charlie", name="Stanford", city="Palo Alto")

Students--
Alisson
Bob
Charlie

College Details--
name Stanford
city Palo Alto