In [1]:
# Tuples are immutable: Once created cannot be changed

immutable_tuple_1 = (0, 1, 2, 3)

immutable_tuple_1

(0, 1, 2, 3)

In [ ]:
immutable_tuple_1[0] = 4 # Will throw an error

print(immutable_tuple_1)

In [3]:
immutable_tuple_2 = (4, 2, 3, (6, 5))

immutable_tuple_2

(4, 2, 3, (6, 5))

In [4]:
immutable_tuple_2[0]

4

In [ ]:
immutable_tuple_2[0] = 9 # Will throw an error

In [6]:
immutable_tuple_2 = (4, 2, 3, [6, 5])

immutable_tuple_2

(4, 2, 3, [6, 5])

In [7]:
immutable_tuple_2[3]

[6, 5]

In [8]:
immutable_tuple_2[3][1] = 100

print(immutable_tuple_2)

(4, 2, 3, [6, 100])

In [9]:
my_tuple = ('p', 'y', 't', 'h', 'o', 'n')

my_tuple

('p', 'y', 't', 'h', 'o', 'n')

In [ ]:
del my_tuple[3] # Will throw an error

In [11]:
del my_tuple

In [ ]:
print(my_tuple) # Will throw an error

In [13]:
tuple_a = (1, 2, 3, 4, 5)

tuple_b = ('a', 'b', 'c', 'd', 'e')

In [14]:
zipped = zip(tuple_a, tuple_b)

print(zipped)

<zip object at 0x0000021738AA9100>

In [15]:
result = tuple(zipped)

print(result)

((1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'))

In [16]:
tuple_x, tuple_y = zip(*result)

In [17]:
print('tuple_x : ', tuple_x)

print('tuple_y : ', tuple_y)

tuple_x :  (1, 2, 3, 4, 5)
tuple_y :  ('a', 'b', 'c', 'd', 'e')

In [18]:
list_a = [6, 7, 8, 9, 10]

list_b = ['a', 'e', 'i', 'o', 'u']

In [19]:
zipped_list = zip(list_a, list_b)

In [20]:
result = list(zipped_list)

print(result)

[(6, 'a'), (7, 'e'), (8, 'i'), (9, 'o'), (10, 'u')]

In [21]:
a = ("John", "Charles", "Mike")

b = ("Manager", "Supervisor", "Engineer")

x = zip(a, b)

print(dict(x))

{'John': 'Manager', 'Charles': 'Supervisor', 'Mike': 'Engineer'}

In [22]:
numbers_list = [1, 2, 3]

str_list = ["one", "two", "three"]

numbers_tuple = ("ONE", "TWO", "THREE", "FOUR")

result = zip(numbers_list, numbers_tuple)

print(result)

<zip object at 0x0000021738B090C0>

In [23]:
result_set = set(result)

print(result_set)

{(3, 'THREE'), (1, 'ONE'), (2, 'TWO')}

In [24]:
result = zip(numbers_list, str_list, numbers_tuple)

In [25]:
result_set = set(result)

print(result_set)

{(3, 'three', 'THREE'), (2, 'two', 'TWO'), (1, 'one', 'ONE')}