In [1]:
salary = 1000

expense = 200

name = "James"
interest_rate = 0.04

In [2]:
def print_savings_details():
    
    print("Name on account: ", name)
    
    savings = salary - expense
    print("Savings: ", savings)
    
    print("Interest rate: ", interest_rate)

In [3]:
print_savings_details()

Name on account:  James
Savings:  800
Interest rate:  0.04

In [4]:
def print_savings_details(name, salary, expense, interest_rate):
    
    print("Name on account: ", name)
    
    savings = salary - expense
    print("Savings: ", savings)
    
    print("Interest rate: ", interest_rate)

In [5]:
print_savings_details(name, salary, expense, interest_rate)

Name on account:  James
Savings:  800
Interest rate:  0.04

In [6]:
print_savings_details("Julie", 10000, 2000, 0.02)

Name on account:  Julie
Savings:  8000
Interest rate:  0.02

In [7]:
def print_savings_details(name, salary, expense, interest_rate):
    
    print("Name on account: ", name)
    
    expense = expense + 100
    
    savings = salary - expense
    print("Savings: ", savings)
    
    print("Interest rate: ", interest_rate)

In [8]:
print_savings_details(name, salary, expense, interest_rate)

Name on account:  James
Savings:  700
Interest rate:  0.04

In [9]:
name, salary, expense, interest_rate

('James', 1000, 200, 0.04)

In [10]:
def print_savings_details(name, salary, expense, interest_rate):
    
    name = "Harry"
    print("Name on account: ", name)
    
    salary = salary * 2
    expense = expense + 100
    
    savings = salary - expense
    print("Savings: ", savings)
    
    interest_rate = 0.09
    print("Interest rate: ", interest_rate)

In [11]:
print_savings_details(name, salary, expense, interest_rate)

Name on account:  Harry
Savings:  1700
Interest rate:  0.09

In [12]:
name, salary, expense, interest_rate

('James', 1000, 200, 0.04)

In [13]:
fruit_list = ["Apple", "Grapes", "Mango", "Banana"]

In [14]:
def change_list(fruit_list):
    
    fruit_list = ["Kiwi", "Strawberry"]
    
    print("Inside the function: ", fruit_list)
    
change_list(fruit_list)
print()
print("Outside the function: ", fruit_list)

Inside the function:  ['Kiwi', 'Strawberry']

Outside the function:  ['Apple', 'Grapes', 'Mango', 'Banana']

In [15]:
fruit_list = ["Apple", "Grapes"]

In [16]:
change_list(fruit_list)

Inside the function:  ['Kiwi', 'Strawberry']

In [17]:
fruit_list

['Apple', 'Grapes']

In [18]:
fruits_tuple = ("Apple", "Grapes", "Mango"," Banana")

In [19]:
def change_tuple(fruits_tuple):
    
    fruits_tuple = ("Kiwi", "Strawberry")
    
    print("Inside the function: ", fruits_tuple)
    
change_tuple(fruits_tuple)
print()
print("Outside the function: ", fruits_tuple)

Inside the function:  ('Kiwi', 'Strawberry')

Outside the function:  ('Apple', 'Grapes', 'Mango', ' Banana')

In [20]:
def change_tuple(fruits_tuple):
    
    fruits_tuple = "This is not even a tuple"
    
    print("Inside the function: ", fruits_tuple)
    
change_tuple(fruits_tuple)
print()
print("Outside the function: ", fruits_tuple)

Inside the function:  This is not even a tuple

Outside the function:  ('Apple', 'Grapes', 'Mango', ' Banana')

In [21]:
car_speed_dictionary = {
    "Camry" : 120,
    "Accord" : 130,
    "Cayenne" : 250,
    "Mini Cooper" : 100
}

In [22]:
def change_dictionary(car_speed_dictionary):
    
    car_speed_dictionary = {
        "Mustang" : 200
    }
    
    print("Inside the function: ", car_speed_dictionary)

In [23]:
change_dictionary(car_speed_dictionary)

Inside the function:  {'Mustang': 200}

In [24]:
car_speed_dictionary

{'Camry': 120, 'Accord': 130, 'Cayenne': 250, 'Mini Cooper': 100}