In [1]:
class Competition:
    
    def __init__(self, name, prize):
        self.__name = name
        self.__prize = prize

In [2]:
rowing = Competition("Rowing", 10000)

In [3]:
print(rowing)

<__main__.Competition object at 0x000001B63A566590>

In [4]:
rowing

In [5]:
class Competition:
    
    def __init__(self, name, prize):
        self.__name = name
        self.__prize = prize
        
    def __repr__(self):
        return "('{}', {})".format(self.__name, self.__prize)

In [6]:
archery = Competition("Archery", 8000)

In [7]:
print(archery)

('Archery', 8000)

In [8]:
repr(archery)

"('Archery', 8000)"

In [9]:
str(archery)

"('Archery', 8000)"

In [10]:
class Competition:
    
    def __init__(self, name, country, prize):
        self.__name = name
        self.__country = country
        self.__prize = prize
        
    def get_name_country(self):
        return '{} {}'.format(self.__name, self.__country)
        
    def __repr__(self):
        return "Competition: {} held in {}, prize: {}" \
            .format(self.__name, self.__country, self.__prize)
    
    def __str__(self):
        return "{} - {}".format(self.get_name_country(), self.__prize)

In [11]:
archery = Competition("Archery", "United Kingdom", 7500)

In [12]:
archery

Competition: Archery held in United Kingdom, prize: 7500

In [13]:
print(archery)

Archery United Kingdom - 7500

In [14]:
print(repr(archery))

Competition: Archery held in United Kingdom, prize: 7500

In [15]:
print(str(archery))

Archery United Kingdom - 7500

In [16]:
print(archery.__repr__())

Competition: Archery held in United Kingdom, prize: 7500

In [17]:
print(archery.__str__())

Archery United Kingdom - 7500

In [18]:
1 + 2

3

In [19]:
int.__add__(1, 2)

3

In [20]:
'a' + 'b'

'ab'

In [21]:
str.__add__('a', 'b')

'ab'

In [22]:
class Savings:
    
    def __init__(self, amount):
        self.__amount = amount

In [23]:
s1 = Savings(10000)

s2 = Savings(2000)

In [24]:
s1 + s2

TypeError: unsupported operand type(s) for +: 'Savings' and 'Savings'

In [25]:
class Savings:
    
    def __init__(self, amount):
        self.__amount = amount
        
    def __add__(self, other):
        return self.__amount + other.__amount

In [26]:
s1 = Savings(10000)

s2 = Savings(2000)

In [27]:
s1 + s2

12000

In [28]:
class MethodSub:
    
    def __init__(self, number):
        self.__number = number
        
    def __sub__(self, other):
        return self.__number - other.__number

In [29]:
num_1 = MethodSub(10)

num_2 = MethodSub(8)

In [30]:
num_1 - num_2

2

In [31]:
1.0 * 2.1

2.1

In [32]:
float.__mul__(1.0, 2.1)

2.1

In [33]:
class Savings:
    
    def __init__(self, amount):
        self.__amount = amount
        
    def __add__(self, other):
        return self.__amount + other.__amount
    
    def __mul__(self, other):
        if type(other) == int or type(other) == float:
            return self.__amount * other
        else:
            raise ValueError("Can only multiply by int or float")

In [34]:
s1 = Savings(1000)

s2 = Savings(200)

In [35]:
s1 + s2

1200

In [36]:
s1 * s2

ValueError: Can only multiply by int or float

In [37]:
s1 * 3

3000

In [38]:
10 // 3

3

In [39]:
class MethodFloordiv:
    
    def __init__(self, number):
        self.__number = number
        
    def __floordiv__(self, other):
        return self.__number // other.__number

In [40]:
num_1 = MethodFloordiv(10)

num_2 = MethodFloordiv(3)

In [41]:
num_1 // num_2

3

In [42]:
4 % 2

0

In [43]:
5 % 2

1

In [44]:
int.__mod__(5, 2)

1

In [45]:
class MethodMod:
   
    def __init__(self, number):
        self.__number = number
        
    def __mod__(self, other):
        return self.__number % other.__number

In [46]:
num_1 = MethodMod(10)

num_2 = MethodMod(3)

In [47]:
num_1 % num_2

1

In [48]:
6 ** 2

36

In [49]:
int.__pow__(6, 2)

36

In [50]:
class MethodPower:
    
    def __init__(self, number):
        self.__number = number
        
    def __pow__(self, other):
        return self.__number ** other.__number

In [51]:
num_1 = MethodPower(10)

num_2 = MethodPower(3)

In [52]:
num_1 ** num_2

1000