In [1]:
# Dictionaries: Mapping of key-value pair
empty_dict = {}

empty_dict

{}

In [2]:
bike_owners = {"James" : "Ducati  Monster 1200",
              "Jacob" : "Ducati Scrambler 1100",
              "William" : "BMW S 1000 RR",
              "Aiden" : "Harley Davidson"}

bike_owners

{'James': 'Ducati  Monster 1200',
 'Jacob': 'Ducati Scrambler 1100',
 'William': 'BMW S 1000 RR',
 'Aiden': 'Harley Davidson'}

In [3]:
bike_owners["Aiden"]

'Harley Davidson'

In [ ]:
bike_owners["BMW S 1000 RR"] # Will throw an error

In [5]:
int_dict = {1 : 45, 2 : 55, 3 : 65}

int_dict

{1: 45, 2: 55, 3: 65}

In [6]:
int_dict[2]

55

In [7]:
# Dictionaries keys should be unique

int_dict = {1 : 45, 2 : 55, 3 : 85, 3 : 75}

int_dict

{1: 45, 2: 55, 3: 75}

In [8]:
student_details = {"Henry" : 1995,
                  "Samuel" : 1999,
                  "Ingrid" : 2005}

student_details

{'Henry': 1995, 'Samuel': 1999, 'Ingrid': 2005}

In [9]:
student_details.keys()

dict_keys(['Henry', 'Samuel', 'Ingrid'])

In [10]:
"Samuel" in student_details.keys()

True

In [11]:
"Andrew" in student_details.keys()

False

In [12]:
"Henry" in student_details.keys()

True

In [13]:
student_details.values()

dict_values([1995, 1999, 2005])

In [14]:
mixed_dict = {False : "Daniel",
             "Aria" : [1, 2, 3],
             "Jacob" : True}
mixed_dict

{False: 'Daniel', 'Aria': [1, 2, 3], 'Jacob': True}

In [15]:
mixed_dict["Aria"]

[1, 2, 3]

In [16]:
mixed_dict[False]

'Daniel'

In [17]:
bike_details = {"bike_owner" : "James Smith",
               "bike_model" : "Ducati Monster 1200",
               "bike_price" : 28140,
               "engine_displacement" : 1197}
bike_details

{'bike_owner': 'James Smith',
 'bike_model': 'Ducati Monster 1200',
 'bike_price': 28140,
 'engine_displacement': 1197}

In [18]:
bike_details['num_cylinders'] = 2

In [19]:
bike_details

{'bike_owner': 'James Smith',
 'bike_model': 'Ducati Monster 1200',
 'bike_price': 28140,
 'engine_displacement': 1197,
 'num_cylinders': 2}

In [20]:
bike_details['bike_price'] = 29140

In [21]:
bike_details['bike_price']

29140

In [22]:
bike_details.get('bike_price')

29140

In [23]:
bike_details

{'bike_owner': 'James Smith',
 'bike_model': 'Ducati Monster 1200',
 'bike_price': 29140,
 'engine_displacement': 1197,
 'num_cylinders': 2}

In [24]:
del bike_details["engine_displacement"]

In [25]:
bike_details

{'bike_owner': 'James Smith',
 'bike_model': 'Ducati Monster 1200',
 'bike_price': 29140,
 'num_cylinders': 2}

In [26]:
fruit_qty = {}

fruit_qty

{}

In [27]:
fruit_qty['Banana'] = 50

fruit_qty['Apple'] = 78

fruit_qty['Apricot'] = 40

In [28]:
fruit_qty

{'Banana': 50, 'Apple': 78, 'Apricot': 40}

In [29]:
fruit_qty['Orange'] = 70

fruit_qty['Avocado'] = 30

fruit_qty

{'Banana': 50, 'Apple': 78, 'Apricot': 40, 'Orange': 70, 'Avocado': 30}

In [30]:
fruit_qty['Apricot']

40

In [ ]:
fruit_qty['Watermelon'] # Will throw an error

In [32]:
fruit_qty['Watermelon'] = 10

fruit_qty

{'Banana': 50,
 'Apple': 78,
 'Apricot': 40,
 'Orange': 70,
 'Avocado': 30,
 'Watermelon': 10}

In [33]:
fruit_qty['Watermelon']

10

In [34]:
fruit_qty_consumed = {'Banana' : [50, 60, 40, 55],
                      'Apple' : [78, 86, 80, 60],
                      'Apricot' : [40, 70, 30, 55],
                      'Orange' : [70, 80, 60, 65],
                      'Avocado' : [30, 50, 40, 45]}

fruit_qty_consumed

{'Banana': [50, 60, 40, 55],
 'Apple': [78, 86, 80, 60],
 'Apricot': [40, 70, 30, 55],
 'Orange': [70, 80, 60, 65],
 'Avocado': [30, 50, 40, 45]}

In [35]:
fruit_qty_consumed['Orange']

[70, 80, 60, 65]

In [36]:
fruit_qty_consumed['Orange'][3]

65

In [37]:
fruit_qty_consumed['Avocado']

[30, 50, 40, 45]

In [38]:
fruit_qty_consumed['Avocado'][3] = 50

In [39]:
fruit_qty_consumed['Avocado']

[30, 50, 40, 50]

In [40]:
fruit_qty_consumed = {'Banana' : {'Fri' : 50, 'Sat' : 80, 'Sun' : 95},
                      'Apple' : {'Fri' : 90, 'Sat' : 95, 'Sun' : 110},
                      'Apricot' : {'Fri' : 70, 'Sat' : 85, 'Sun' : 95},
                      'Orange' : {'Fri' : 80, 'Sat' : 90, 'Sun' : 100},
                      'Avocado' : {'Fri' : 60, 'Sat' : 70, 'Sun' : 80}
                     }

fruit_qty_consumed

{'Banana': {'Fri': 50, 'Sat': 80, 'Sun': 95},
 'Apple': {'Fri': 90, 'Sat': 95, 'Sun': 110},
 'Apricot': {'Fri': 70, 'Sat': 85, 'Sun': 95},
 'Orange': {'Fri': 80, 'Sat': 90, 'Sun': 100},
 'Avocado': {'Fri': 60, 'Sat': 70, 'Sun': 80}}

In [41]:
fruit_qty_consumed['Orange']

{'Fri': 80, 'Sat': 90, 'Sun': 100}

In [42]:
fruit_qty_consumed['Apricot']['Sun']

95

In [ ]:
fruit_qty_consumed['Apricot']['Mon'] # Will throw an error