In [1]:
# Global Variables: Defined and assigned values outside the scope of a function
country = "USA"
city = "Seattle"

In [2]:
def some_fn():
    print("Country:", country)
    print("City:", city)

In [3]:
some_fn()

Country: USA
City: Seattle

In [4]:
def some_fn():
    
    # Local Variables: Defined and assigned values within the function body
    country = "India"
    
    print("Country:", country)
    print("City:", city)

In [5]:
some_fn()

Country: India
City: Seattle

In [6]:
country, city

('USA', 'Seattle')

In [7]:
def some_fn():
    city = "Detroit"
    
    print("Country:", country)
    print("City:", city)

In [8]:
some_fn()

Country: USA
City: Detroit

In [9]:
country, city

('USA', 'Seattle')

In [10]:
def some_fn():
    country = "India"
    city = "Bangalore"
    
    print("Country:", country)
    print("City:", city)

In [11]:
some_fn()

Country: India
City: Bangalore

In [12]:
country, city

('USA', 'Seattle')

In [13]:
def some_fn():
    
    # This will cause an error
    city = city + "-Washington"
    
    print("Country:", country)
    print("City:", city)

In [ ]:
some_fn()

In [15]:
def some_fn():
    city = "Seattle"
    city = city + "-Washington"
    
    print("Country:", country)
    print("City:", city)

In [16]:
some_fn()

Country: USA
City: Seattle-Washington

In [17]:
def some_fn():
    city = "San Francisco"
    city = city + "-California"
    
    print("Country:", country)
    print("City:", city)

In [18]:
some_fn()

Country: USA
City: San Francisco-California

In [19]:
country, city

('USA', 'Seattle')

In [20]:
def some_fn(country, city):
    print("Country:", country)
    print("City:", city)

In [21]:
some_fn("India", "Bangalore")

Country: India
City: Bangalore

In [22]:
def some_fn():
    
    global city
    
    city = city + "-Washington"
    
    print("Country:", country)
    print("City:", city)

In [23]:
some_fn()

Country: USA
City: Seattle-Washington

In [24]:
country, city

('USA', 'Seattle-Washington')

In [25]:
city = "Seattle"

country, city

('USA', 'Seattle')

In [26]:
def some_fn():
    
    global city, country
    
    city = city + "-Washington"
    country = country + "-World"
    
    print("Country:", country)
    print("City:", city)

In [27]:
some_fn()

Country: USA-World
City: Seattle-Washington

In [28]:
country, city

('USA-World', 'Seattle-Washington')