In [1]:
set_1 = {'c++', 'php', 'java', 'python'}

set_1

{'c++', 'java', 'php', 'python'}

In [2]:
set_2 = set_1

print("Original: ", set_1)
print("Modified: ", set_2)

Original:  {'java', 'php', 'python', 'c++'}
Modified:  {'java', 'php', 'python', 'c++'}

In [3]:
set_2.add('sql')

print("Original: ", set_1)
print("Modified: ", set_2)

Original:  {'c++', 'java', 'php', 'python', 'sql'}
Modified:  {'c++', 'java', 'php', 'python', 'sql'}

In [4]:
set_2.pop()

'c++'

In [5]:
print("Original: ", set_1)
print("Modified: ", set_2)

Original:  {'java', 'php', 'python', 'sql'}
Modified:  {'java', 'php', 'python', 'sql'}

In [ ]:
set_2[2] # Will throw an error

In [ ]:
set_2[2] = 'ruby' # Will throw an error

In [ ]:
set_1 = {'c++', 'php', ['java', 'python'], 'sql'} # Will throw an error

set_1

In [9]:
set_1 = {'c++', 'php', ('java', 'python'), 'sql'}

set_1

{('java', 'python'), 'c++', 'php', 'sql'}

In [10]:
set_2 = set_1

print("Original: ", set_1)
print("Modified: ", set_2)

Original:  {('java', 'python'), 'php', 'c++', 'sql'}
Modified:  {('java', 'python'), 'php', 'c++', 'sql'}

In [11]:
import copy

teachers_set = {"Ava", "Mia", "Jacob", "Daniel"}

new_teachers_set = copy.copy(teachers_set)

print("Original: ", teachers_set)
print("Modified: ", new_teachers_set)

Original:  {'Jacob', 'Ava', 'Daniel', 'Mia'}
Modified:  {'Jacob', 'Ava', 'Daniel', 'Mia'}

In [12]:
teachers_set.add("Emma")

print("Original: ", teachers_set)
print("Modified: ", new_teachers_set)

Original:  {'Jacob', 'Daniel', 'Mia', 'Emma', 'Ava'}
Modified:  {'Jacob', 'Ava', 'Daniel', 'Mia'}

In [13]:
new_teachers_set.remove("Ava")

print("Original: ", teachers_set)
print("Modified: ", new_teachers_set)

Original:  {'Jacob', 'Daniel', 'Mia', 'Emma', 'Ava'}
Modified:  {'Jacob', 'Daniel', 'Mia'}

In [14]:
teachers_set = {"Ava", "Mia", "Jacob", "Daniel"}

new_teachers_set = copy.deepcopy(teachers_set)

print("Original: ", teachers_set)
print("Modified: ", new_teachers_set)

Original:  {'Jacob', 'Ava', 'Daniel', 'Mia'}
Modified:  {'Jacob', 'Ava', 'Daniel', 'Mia'}

In [15]:
teachers_set.add("Emma")

print("Original: ", teachers_set)
print("Modified: ", new_teachers_set)

Original:  {'Jacob', 'Daniel', 'Mia', 'Emma', 'Ava'}
Modified:  {'Jacob', 'Ava', 'Daniel', 'Mia'}

In [16]:
teachers_set.remove("Ava")

print("Original: ", teachers_set)
print("Modified: ", new_teachers_set)

Original:  {'Jacob', 'Daniel', 'Mia', 'Emma'}
Modified:  {'Jacob', 'Ava', 'Daniel', 'Mia'}