In [1]:
class Student:
    
    def __init__(self):
        
        print("Initialize called!")

In [2]:
s1 = Student()

Initialize called!

In [3]:
s2 = Student()

s3 = Student()

Initialize called!
Initialize called!

In [4]:
class Student:
    
    # This will cause an error
    def __init__():
        
        print("Initialize called!")

In [5]:
s1 = Student()

TypeError: Student.__init__() takes 0 positional arguments but 1 was given

In [6]:
class Student:
    
    def __init__(boo):
        
        print("Initialize called!")

In [7]:
s1 = Student()

Initialize called!

In [8]:
class Student:
    
    def __init__(self, name):
        
        self.name = name
        
        self.email = name + "." + "@xyz.com"

In [9]:
# Will throw an error
s1 = Student()

TypeError: Student.__init__() missing 1 required positional argument: 'name'

In [10]:
s1 = Student("Michel")

In [11]:
# Will throw an error
s1 = Student("Michel", "Michel@xyz.com")

TypeError: Student.__init__() takes 2 positional arguments but 3 were given

In [12]:
print(s1)

<__main__.Student object at 0x00000208FC328950>

In [13]:
s1.name

'Michel'

In [14]:
s1.email

'Michel.@xyz.com'

In [15]:
s2 = Student("Chad")

In [16]:
s2.name, s2.email

('Chad', 'Chad.@xyz.com')

In [17]:
s1.name = "Michael"

s1.name, s1.email

('Michael', 'Michel.@xyz.com')

In [18]:
s2.name, s2.email

('Chad', 'Chad.@xyz.com')

In [19]:
class Student:
    
    def __init__(self, first, last):
        
        self.first = first
        
        self.last = last
        
        self.email = first + "." + last + "@xyz.com"
        
    def fullname(self):
        
        return "{} {}".format(self.first, self.last)

In [20]:
s1 = Student("Rodrigo", "Joseph")

In [21]:
print(s1.fullname())

Rodrigo Joseph

In [22]:
s2 = Student("Anthony", "Hopkins")

In [23]:
print(s2.fullname())

Anthony Hopkins

In [24]:
# Is the same as s2.fullname()
Student.fullname(s2)

'Anthony Hopkins'

In [25]:
Student.fullname(s1)

'Rodrigo Joseph'

In [26]:
s3 = Student("James", "Miller")

In [27]:
s3.first

'James'

In [28]:
del s3.first

In [29]:
# Will throw an error
print(s3.first)

AttributeError: 'Student' object has no attribute 'first'

In [30]:
print(s3.last)

Miller

In [31]:
# Will throw an error
print(s3.fullname())

AttributeError: 'Student' object has no attribute 'first'

In [32]:
s2.fullname()

'Anthony Hopkins'

In [33]:
del s3

In [34]:
# Will throw an error
s3.last

NameError: name 's3' is not defined

In [35]:
class Student:
    
    def __init__(self, first, last):
        
        self.first = first
        
        self.last = last
        
        self.email = first + "." + last + "@xyz.com"
        
    def fullname(self):
        
        return "{} {}".format(self.first, self.last)
    
    def uppercase(self):
        
        self.first = self.first.upper()
        
        self.last = self.last.upper()

In [36]:
s1 = Student("Anthony", "Hopkins")

s2 = Student("John", "Smith")

In [37]:
s1.fullname()

'Anthony Hopkins'

In [38]:
s2.fullname()

'John Smith'

In [39]:
s1.uppercase()

In [40]:
s1.fullname()

'ANTHONY HOPKINS'

In [41]:
s2.fullname()

'John Smith'