In [1]:
def my_introduction():
    print("Hello, my name is Harry")
    print("I live and work in Dallas")

In [2]:
my_introduction()

Hello, my name is Harry
I live and work in Dallas

In [3]:
def introduction(name):
    print("Hello, my name is", name)
    print("I live and work in Dallas")

In [4]:
introduction("Lily")

Hello, my name is Lily
I live and work in Dallas

In [5]:
introduction("Henry")

Hello, my name is Henry
I live and work in Dallas

In [6]:
def general_introduction(name, city):
    print("Hello, my name is", name)
    print("I live and work in", city)

In [7]:
general_introduction("Lily", "San Francisco")

Hello, my name is Lily
I live and work in San Francisco

In [8]:
general_introduction("John", "Dublin")

Hello, my name is John
I live and work in Dublin

In [9]:
general_introduction("Dublin", "John")

Hello, my name is Dublin
I live and work in John

In [ ]:
# This will throw an error
my_introduction("Lily")

In [ ]:
# This will throw an error
general_introduction("Lily")

In [12]:
def square(x):
    print("The square of", x, "is", x * x)

In [13]:
square(3)

The square of 3 is 9

In [14]:
square(10001)

The square of 10001 is 100020001

In [ ]:
# This will throw an error
square("James")

In [16]:
num = 25

square(num)

The square of 25 is 625

In [17]:
another_num = 100

square(num)
square(another_num)

The square of 25 is 625
The square of 100 is 10000

In [18]:
salary = 1000
expense = 300

def my_savings(a, b):
    print("My total savings:", salary - expense)

In [19]:
my_savings(1000, 300)

My total savings: 700

In [20]:
my_savings(1200, 400)

My total savings: 700

In [21]:
def my_actual_savings(a, b):
    print("My actual savings:", a - b)

In [22]:
my_actual_savings(1200, 400)

My actual savings: 800

In [23]:
salary = 2000
expense = 700

def calculate_savings(salary, expense):
    print("My savings are:", salary - expense)

In [ ]:
# This will throw an error
calculate_savings()

In [25]:
calculate_savings(salary, expense)

My savings are: 1300

In [26]:
calculate_savings(3000, 1000)

My savings are: 2000

In [27]:
total_salary = 4000
total_expense = 2500

calculate_savings(total_salary, total_expense)

My savings are: 1500

In [28]:
def print_many_times(string, times):
    for i in range(times):
        print(string)

In [29]:
print_many_times("Skillsoft", 5)

Skillsoft
Skillsoft
Skillsoft
Skillsoft
Skillsoft

In [ ]:
# This will throw an error
print_many_times(5, "Skillsoft")

In [31]:
def print_many_times_with_doc(string, times):
    
    """
        Prints the specified string the specified number of times
        
        The first argument is the string you want printed, the second
        argument is the number of times you want the string printed
        
        Parameters (both required):
        string(str): The string to be printed
        times(int): The number of times the string should be printed
        
        Returns:
        No return value
    
    """
    
    for i in range(times):
        print(string)

In [32]:
print_many_times_with_doc.__doc__

'\n        Prints the specified string the specified number of times\n        \n        The first argument is the string you want printed, the second\n        argument is the number of times you want the string printed\n        \n        Parameters (both required):\n        string(str): The string to be printed\n        times(int): The number of times the string should be printed\n        \n        Returns:\n        No return value\n    \n    '

In [33]:
print(print_many_times_with_doc.__doc__)

        Prints the specified string the specified number of times

        The first argument is the string you want printed, the second
        argument is the number of times you want the string printed

        Parameters (both required):
        string(str): The string to be printed
        times(int): The number of times the string should be printed

        Returns:
        No return value

In [34]:
def print_higher_number(a, b):
    
    if a > b:
        print("Higher number is", a)
    else:
        print("Higher number is", b)

In [35]:
print_higher_number(10, 5)

Higher number is 10

In [36]:
print_higher_number(10, 20)

Higher number is 20

In [37]:
def multiply(num_1, num_2, num_3):
    print("Multiplication result: ", num_1 * num_2 * num_3)

In [38]:
multiply(1, 2.3, 4)

Multiplication result:  9.2

In [ ]:
# This will throw an error
multiply(1, 2.3, 4, 10)

In [40]:
def length(some_list):
    
    count = 0
    for element in some_list:
        count += 1
        
    print("The length of the list is", count)

In [41]:
num_list = [4, 6, 12, 7, 2, 9, 23]

length(num_list)

The length of the list is 7

In [42]:
cars_list = ["Toyota", "Honda", "Hyundai", "Ford"]

length(cars_list)

The length of the list is 4

In [43]:
length([4.5, 7.8, 3.3])

The length of the list is 3

In [44]:
num_cars = len(cars_list)

num_cars

4

In [45]:
num_cars = length(cars_list)

The length of the list is 4

In [46]:
num_cars

In [47]:
print(num_cars)

None